/* COMMENT BLOCK */
.comment-block {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: var(--smallWidth);
  max-width: var(--fullWidth);

  .block-title {
    font-size: var(--fs-block);
    font-weight: var(--fw-2);
    letter-spacing: 1px;
    text-align: left;
    margin: 0 0 12px;
    font-size: var(--fs-title);
  }
  .comment-form-identity {
    background: var(--darkGrey);
    margin: 0;
    padding: 0;
    position: relative;
    top: -5px;

    .comment-form-line {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      p {
        font-size: var(--fs-main);
        margin: 15px;
      }

      .sign-up {
        flex-grow: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        margin-right: 15px;

        .sign-up-google {
          margin: 0 0 0 5px;
          width: 30px;
          height: 30px;
          font-size: var(--fs-symb-s);
          border-radius: 50%;
          border: 1px solid transparent;
          box-shadow: var(--shareIconShadow);
          color: #bb001b;

          &:hover {
            background: #bb001b;
            color: white;
          }
        }
      }
    }

    .comment-form {
      display: flex;
      flex-direction: column;

      .comment-form-field textarea {
        width: 90%;
        height: auto;
        resize: none;
        font-family: var(--fontFamily);
        overflow: hidden;
        line-height: var(--line-h);
        padding: 10px;
      }
    }

    button {
      float: right;
      margin: 15px auto;
    }
  }
}
