.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;

  .section-title {
    font-size: 2rem;
  }

  p {
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
