.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 12rem;

  .nav-center {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    .nav-header {
      display: flex;
      margin: 0 auto;

      .nav-logo {
        height: 8.5rem;
        width: auto;
      }

      .nav-btn {
        display: none;
      }
    }

    .nav-links {
      display: flex;
      justify-self: center;
      text-align: center;
      height: 100%;
      align-items: center;
      font-family: var(--fontFamily);

      .link-btn {
        display: flex;
        justify-content: center;
        align-content: center;
        background: transparent;
        border-color: transparent;
        font-size: var(--fs-nav-s);
        font-weight: 500;
        line-height: 3rem;
        color: black;
        text-transform: capitalize;
        letter-spacing: 1px;
        width: 10rem;
        height: 3rem;
        transition: var(--mainTransition);

        &:hover {
          background: var(--primaryColor);
          color: var(--mainWhite);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    height: 90px;

    .nav-center {
      flex-direction: row;
      width: 100%;

      .nav-header {
        display: flex;
        // width: 80%;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .nav-link-logo {
          width: 100%;
          justify-content: center;
          display: flex;

          .nav-logo {
            height: 100px;
            width: auto;
          }
        }

        .nav-btn {
          display: flex;
          position: absolute;
          right: 20px;
          font-size: 1rem;
          padding: 0.25rem 0.75rem;
          cursor: pointer;
          color: var(--primaryColor);
          border: 2px solid var(--primaryColor);
          transition: var(--mainTransition);
          background: transparent;
          border-radius: var(--mainBorderRadius);
          outline: none;

          &:hover {
            background: var(--primaryColor);
            color: var(--mainWhite);
          }
        }
      }

      .nav-links {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .link-btn {
    font-size: var(--fs-nav);
  }
}
