.button {
  color: var(--white);
  .icon {
    font-size: 30px;
  }
}
.text-field {
  margin: 0;
  bottom: 5px;

  .MuiFormLabel-root.Mui-focused {
    color: var(--primaryColor);
  }

  .MuiInput-underline:after {
    border-color: var(--primaryColor);
  }
}
