.admin-tabs {
  flex-grow: 1;
  display: flex;
  width: 100%;

  .MuiTab-textColorInherit.Mui-selected {
    color: (var(--primaryColor));
  }
  .PrivateTabIndicator-colorSecondary-3 {
    background-color: (var(--primaryColor));
  }
  .tab-panel {
    width: 100%;
  }
}
