/* 
====== 
Form
======
*/
.search {
  margin: 1rem auto;
  padding-top: 3rem;
}

.search-form {
  width: 100%;
  margin: 0 auto;
  max-width: 200px;
  /* background: var(--darkGrey);
  text-transform: capitalize; */
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--darkGrey);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: var(--fs-main);
}
