.admin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .admin-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 90%;
  
      .text {
        margin: 0 20px 0;
        font-family: var(--fontFamily);
      }
    }
  }
  

.admin-tabs {
    flex-grow: 1;
    display: flex;
    width: 100%;

    .tab-wrapper {
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    }
    .MuiTab-textColorInherit.Mui-selected {
        color: (var(--primaryColor));
    }
    .PrivateTabIndicator-colorSecondary-3 {
        background-color: (var(--primaryColor));
    }
    .tab-panel {
        width: 100%;
    }
}
