/* section */
.slider {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  /* border-radius: var(--mainBorderRadius);
  background: var(--mainWhite); */
  /* box-shadow: var(--lightShadow); */
  transition: var(--mainTransition);
  text-align: center;
  font-size: var(--fs-main-s);
}

.img-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.recipe-img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  position: relative;
}
.slider-center {
  position: absolute;
  width: calc(100% - 40%);
  height: calc(100% - 40%);
  top: calc(50% - calc(100% - 40%) / 2);
  left: calc(50% - calc(100% - 40%) / 2);
  background: var(--mainWhite-tr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.slider-center .title {
  margin-top: 20px;
  text-transform: uppercase;
}
.slider-center .category {
  color: var(--primaryColor);
  margin: 0 0 10px 0;
}
.slider-center .btn,
.btn-primary {
  margin: 10px auto;
  font-size: var(--fs-btn-s);
}
.img-container .prev,
.img-container .next {
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  background: transparent;
  color: var(--clr-grey);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: var(--fs-symb-s);
  cursor: pointer;
  transition: var(--mainTransition);
  outline: none;
  opacity: 0.5;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.img-container:hover .prev,
.img-container:hover .next {
  opacity: 1;
  background: var(--primaryColor);
  color: var(--mainWhite);
}
@media screen and (min-width: 768px) {
  .slider {
    width: 80%;
    max-height: 600px;
  }
  .recipe-img {
    max-height: 550px;
  }
  .slider-center .btn,
  .slider-center .btn-primary {
    font-size: var(--fs-btn);
  }
  .slider-center .title,
  .slider-center .category {
    font-size: var(--fs-title-m);
  }
}
@media screen and (min-width: 992px) {
  .slider {
    width: 70%;
  }
  .img-container .prev,
  .img-container .next {
    width: 3rem;
    height: 3rem;
    font-size: var(--fs-symb);
    top: calc(50%);
  }
}
