/* LOADING BARS */

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*
.loading-container {
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px;
}
.steak {
  display: block;
  font-size: 50px;
  width: 60px;
  height: 60px;
  border: 1px solid;
  transform-origin: center;
  text-align: center;
  // animation: 2s steak infinite linear;
}
.steak svg {
  transform: rotate(-30deg);
}

@keyframes steak {
  to {
    transform: rotate(60deg);
  }
}
.player {
  position: absolute;
  // bottom: calc(50%);
  // left: calc(50%);
  height: 50px;
  width: 60px;
  z-index: 1;
  // border: 1px solid; 
}
.player * {
  position: absolute;
}
.player > div {
  height: 100%;
  width: 100%;
  bottom: 0;
}
.player .head {
  height: 10px;
  width: 10px;
  left: calc(50% - 5px);
  border-radius: 50%;
  background-color: #000;
}
.player .body {
  height: 17px;
  width: 3px;
  top: 10px;
  background-color: #000;
  left: calc(50% - 1.5px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.player .arm {
  // height: 3px;
  width: 10px;
  top: 14px;
  left: calc(50% - 0.5px);
  // background-color: #000;
  animation: 0.4s run alternate infinite linear;
}
.player .arm + .arm {
  animation-delay: 0.4s;
}
.player .arm:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 4px;
  background-color: #000;
  transform-origin: top;
  transform: rotate(-60deg);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.player .arm:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  left: 2.5px;
  top: 2px;
  background-color: #000;
  transform-origin: top;
  transform: rotate(-110deg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.player .leg {
  top: 26px;
  left: calc(50% - 1px);

  animation: 0.4s run alternate infinite linear;
}
.player .leg + .leg {
  animation-delay: 0.4s;
}
.player .leg:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #000;
  transform-origin: top;
  transform: rotate(-60deg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 50%;
}
.player .leg:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  left: 6px;
  top: 3px;
  background-color: #000;
  transform-origin: top;
  transform: rotate(-10deg);
  border-bottom-left-radius: 100%;
}
.player .feet {
  top: 27px;
  left: calc(50% - 5px);
  transform: rotate(10deg);
  animation: 0.4s run alternate infinite linear;
}
.player .feet + .feet {
  animation-delay: 0.4s;
}
.player .feet:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  left: 10px;
  top: 6px;
  background-color: #000;
  transform-origin: top;
  transform: rotate(-90deg);
  border-bottom-left-radius: 100%;
}

@keyframes run {
  to {
    transform: rotate(80deg);
  }
}
*/