/*
=============== 
Stripe Styles
===============
*/
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}
.nav-logo {
  height: 60px;
  width: auto;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  transition: var(--mainTransition);
  background: transparent;
  border-radius: var(--mainBorderRadius);
  outline: none;
}
.nav-btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  transform: rotate(90deg);
}
.nav-links {
  display: none;
}
/* nav media query */
@media screen and (min-width: 768px) {
  .nav {
    margin: 0;
    padding: 0;
    height: 16rem;
  }
  .nav-center {
    display: grid;
    height: 100%;
    /* grid-template-columns: auto 1fr; */
    align-items: center;
  }
  .nav-header {
    display: flex;
    margin: 0 auto;
  }
  .nav-logo {
    height: 70%;
    width: auto;
  }
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    align-items: center;
  }
  .link-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    background: transparent;
    border-color: transparent;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    transition: var(--mainTransition);
  }
  .link-btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
}
/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--mainTransition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: 620px;
  background: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--darkShadow);
  position: relative;
  padding: 4rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  outline: none;
}
.close-btn:hover {
  color: var(--primaryColor);
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}

.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: var(--mainTransition);
}
.sidebar-sublinks svg {
  color: var(--clr-grey);
  margin-right: 1rem;
}
.sidebar-links h4 {
  transition: var(--mainTransition);
}
.sidebar-links h4:hover {
  color: var(--primaryColor);
  transform: scale(1.01);
}
.sublink:hover {
  color: var(--primaryColor);
  transform: scale(1.1);
}
@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}
/* links */
.submenu {
  background: var(--mainWhite);
  box-shadow: var(--darkShadow);
  position: absolute;
  top: 15.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--mainBorderRadius);
  transition: var(--mainTransition);
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--mainWhite);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
  transition: var(--mainTransition);
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: var(--mainTransition);
}
.submenu-center a:hover {
  color: var(--primaryColor);
  transform: scale(1.1);
}
.submenu-center svg {
  color: var(--clr-grey);
  margin-right: 1rem;
}
