.recipes-page {
  display: flex;
  flex-flow: row wrap;
}
section.recipes-section {
  flex: 80% 1;
  padding: 3rem 0;
}
section.widgets-section {
  flex: 20% 1;
  margin: 0 auto;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.recipes-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: flex;
  flex-flow: row wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr)); */
}
.recipe-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 30% 1;
}
.photo {
  overflow: hidden;
  height: auto;
  max-height: 300px;
  width: 500px;
  border: 0.25rem solid var(--darkGrey);
  border-radius: var(--mainBorderRadius);
}
.recipe-item header h4 {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}

.item-text {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: -15px;
  padding: 1rem 0;
  width: 400px;
  border-bottom: 0.5px solid var(--darkGrey);
}
.item-text p,
.item-text a {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.item-text h4 {
  margin: 0 auto;
  color: var(--primaryColor);
}
.item-info .btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
}
/* @media screen and (min-width: 576px) {
  .recipes-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
@media screen and (min-width: 768px) {
  .recipe-item {
    gap: 0 1.25rem;
    max-width: 40rem;
  }
}
@media screen and (min-width: 1200px) {
  .recipes-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
} */
