.sharing-block {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: var(--smallWidth);
  max-width: var(--fullWidth);

  .block-title {
    font-size: var(--fs-block);
    font-weight: var(--fw-2);
    letter-spacing: 1px;
    text-align: left;
    margin: 0 0 12px;
  }
  .icon-list {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-content: center;

    .share {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 1px solid;
      box-shadow: var(--shareIconShadow);
      margin: 0 5px 5px 0;
      font-size: var(--fs-symb-s);

      &.share-fb {
        border-color: #3b5998;
        color: #3b5998;

        &:hover {
          color: white;
          background: #3b5998;
        }
      }

      &.share-print,
      &.share-email {
        color: var(--clr-grey);
      }

      &.share-email {
        &:hover {
          border-color: #bb001b;
          background-color: #bb001b;
          color: white;
        }
      }

      &.share-print {
        &:hover {
          color: white;
          background-color: var(--clr-grey);
          border-color: var(--clr-grey);
        }
      }
    }
  }
}
