.recipes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .section-title {
    font-size: 2rem;
  }

  .recipes {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;

    .recipe-item {
      flex: 1 0 20%;
      margin: 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: 300px;

      .item-title {
        text-transform: uppercase;
        padding: 20px 0;
        text-align: center;
        height: 60px;
      }

      .item-photo {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250px;
        width: auto;
        border: 0.25rem solid var(--darkGrey);
        border-radius: var(--mainBorderRadius);
      }
      .item-info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;

        .item-container {
          display: flex;
          flex-flow: column wrap;
          min-height: 150px;
          margin-bottom: -25px;
          padding: 1rem 0;
          width: 100%;
          border-bottom: 2px solid var(--darkGrey);
          justify-content: space-around;

          .category,
          .text {
            text-align: center;
          }

          .category {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;

            .category-link {
              color: var(--primaryColor);
            }
          }

          .text {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .recipes-section {
    .recipes {
      width: 100%;
      .recipe-item {
        margin: 10px 0;

        .item-photo {
          height: 200px;
          max-width: 300px;
        }
      }
    }
  }
}
